.header2 {
  color: black;
  display: flex;
  margin-top: 38px;
  justify-content: space-between;
  gap: 20px;
  margin-left: 30%;
 
 
}

h2 {
  padding: 10px;
  font-weight: 100;
  
 
}


button {
   
    border-radius: 23px;
    color: white;
    background-color: black;

}
